/* ROOT */

:root {
  --lightblue: #b4d0e7;
  --blue: #0061ff;
  --blue-cyan: #0093ce;
  --light-green: #a2d39b;
  --bordeaux: #61082b;
  --red: #ff1c1c;
  --gold-yellow: #ffd830;
  --black: #000000;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
}

/* GENERALS */

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 1rem 0;
}

.container-lg {
  max-width: 1180px;
  margin: 0 auto;
  padding-top: 5rem;
}

.container-fluid {
  width: 100%;
  margin: 0 auto;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: currentColor;
  display: inline-block;
}

ul,
ol,
menu {
  list-style: none;
}

/* UTILS */

.btn {
  background-color: var(--blue);
  padding: 0.5rem 1rem;
  border: 0;
  color: white;
}

.row {
  display: flex;
}

/* HEADER */

.main-header {
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.main-header .row {
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 28px;
}
header + * {
  padding-top: 3rem;
}

.nav-menu {
  display: flex;
  align-items: center;
}

.menu-link {
  padding: 0 18px;
  white-space: nowrap;
}

.menu-link > a {
  line-height: 34px;
  font-size: 16px;
}

.menu-link.logo-small {
  padding-left: 0;
}

.menu-link.logo-small * {
  display: block;
}

/* MAIN */

/* JUMBOTRON */

.bg-jumbotron {
  background-color: var(--lightblue);
}

.jumbo-flex {
  display: flex;
  padding-top: 2rem;
}

.jumbo-content {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: flex-start;
  width: 30%;
}

.jumbo-title {
  width: 100%;
  font-size: 74px;
  margin-bottom: 48px;
}

.jumbo-icon {
  font-size: 3rem;
  margin-top: auto;
}

.img-jumbo {
  width: 70%;
}

/* SECTIONS */

/* CARDS-PLAN */

.card-plan-container {
  display: flex;
  justify-content: space-between;
  padding-bottom: 50px;
}

.card-plan {
  background-color: red;
  min-width: calc(90% / 3);
  height: 600px;
}

.card-team {
  background-color: red;
  height: 200px;
  padding-bottom: 10px;
}
